/* NAVIGATION BAR */

.nav, .nav-item, #brand, #sectionA {
    font-family: "Familiar Pro", "Bold";
    color: white;
    text-transform: uppercase;
}

#profile, #hash {
    max-width: 25%;
}

/* SECTION A */

#sectionA {
    margin-bottom: 0;
    background-color: rgb(73, 104, 155);
}

.jumbotron {
    text-align: center;
}

/* SECTION B */

#section-B {
    background-color: brown;
    padding: 5%;
    font-family: "Consolas", "Regular";
}

#top {
    background-color: rgb(225, 224, 222);
    height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 22px;
}

#bottom {
    height: 800px;
    background-color: rgb(41, 41, 41);
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

li {
    display: inline;
}

ul {
    padding: 0;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50px;
    display: inline-block;
}

#redDot {
    background-color: rgb(252, 96, 92);
}

#yellowDot {
    background-color: rgb(253, 189, 64);
}

#greenDot {
    background-color: rgb(52, 199, 73);
}

.indent {
    margin-left: 2em;
}

.keyRed {
    color: rgb(204, 51, 102);
    font-weight: bold;
}

.keyBlue {
    color: rgb(18, 144, 195);
    font-weight: bold;
}

.keyBlueText {
    color: rgb(102, 225, 248);
}

.keyPurple {
    color: rgb(121, 171, 255);
}

.keyGreen {
    color: rgb(30, 181, 64);
    font-weight: bold;
}

.keyGreenText {
    color: rgb(167, 236, 36);
}

.keyString {
    color: rgb(23, 198, 163);
}

.keyInt {
    color: rgb(104, 151, 187);
}

.keyOrangeText {
    color: rgb(223, 191, 38);
}

.keyOrange {
    color: rgb(237, 127, 72);
}
/* SECTION C */

#section-C {
    padding: 5%;
}

footer {
    background-color: rgb(72, 69, 69);
}

#linkedinIcon {
    width: 100px;
}

#githubIcon {
    width: 150px;
}

/* ANIMATION */